#main-content
{

    width:710px;
    height:600px;
    border: 2px solid;
    border-radius: 2px;
    border-color: aliceblue;
    background-color: #c2f1ff;
    margin:auto;
}
#header
{
    width:708px;
    height:120px;
    border: 2px solid aliceblue;
    background-color: #ceffce;
    border-radius: 2px;

}
#right
{

}
#main{
    width:600px;
    height:400px;
    border: 2px solid;
    border-radius: 3px;
    border-color:navy;
    background-color: #c2f1ff;
    margin:auto;
}
#head
{
    width:598px;
    height:100px;
    border: 3px solid black;
    background-color: black;
    border-radius: 3px;

}

